#map-canvas {
  bottom:0;
  width: 100%;
  height:100vh;
  position: absolute;
  z-index: 0;
}

body{
  background-image: url("background.png");
  overflow: hidden;
}

h1{
  font-family: "Courier New", serif;
  font-size: 50;
  z-index: 2;
  position: fixed;
  color: #800000;
  margin: auto;
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
}

p{
  font-size: 25;
  color: #800000;
  z-index: 0;
  position: fixed;
  bottom:20;
  text-align: center;
  width: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
}
