#inputelements {
  position: absolute;
  top: 75%;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  }

  #zipcode{
  height:40;
  width: 150;
  font-size: 20;
  background-color: #D3D3D3;
  color: white;
  }
